<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="example">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./var/coverage" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="50" highLowerBound="80"
        />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>

    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
        <listener class="Ozh\PHPUnit\Listener\OverAssertiveTestsListener" file="vendor/ozh/phpunit-overassertive/src/Ozh/PHPUnit/Listener/OverAssertiveTestsListener.php" />
    </listeners>
</phpunit>
